Necro: https://web.archive.org/web/20090205055803/http://endor.mafyje.com/index.php?akce=zobraz_clanek&id=151
Mercenary: https://web.archive.org/web/20090205054500/http://endor.mafyje.com/index.php?akce=zobraz_clanek&id=122
Druid: https://web.archive.org/web/20080423014904/http://endor.mafyje.com/index.php?akce=zobraz_clanek&id=78
Rangers: https://web.archive.org/web/20080711132611/http://endor.mafyje.com/index.php?akce=zobraz_clanek&id=47


Obecne hlody:
https://web.archive.org/web/20080423014415/http://endor.mafyje.com/index.php?akce=zobraz_clanek&id=12
