{templateType App\Presenters\ScreensTemplate}

{block content}

    <section>
        <div class="max-w-6xl mx-auto px-4 sm:px-6  border-0">
            <div class="h2 text-center">Seznam komentářů</div>

            {control commentGrid}

        </div>
    </section>

{/block}
