{block content}

    <form action="{link this}">
        <div>
            <label for="string">Text:</label>
            <input type="text" name="string" id="string" class="border rounded-l border-gray-500">
        </div>
        <div>
            <label for="color">Color:</label>
            <input type="color" name="color" id="color" class="border rounded-l border-gray-500">
        </div>
        <input type="submit" class="rounded-r">
    </form>

{/block}
